# local package
-e .

# external requirements
# click
# Sphinx
# coverage
# awscli
# flake8
# python-dotenv

dvc
mlflow
dagshub
pandas
numpy
scikit-learn
fastapi
uvicorn
joblib
matplotlib
seaborn
jupyter
optuna
scikit-optimize
